* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    height: 100vh;
    background-color: #f0dfb1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2.5rem;
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
}
@media (max-width: 415px) {
    .main-container {
        width : 60vw;
        padding: 2rem 1.5rem 2rem 1.5rem;
    }
}
#title {
    font-size: 1.8rem;
    font-weight: 550;
    text-align: center;
    font-family: serif;
}
@media (max-width: 415px) {
    #title {
        font-size: 1.15rem;
    }
}
/* form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */
.amount-input {
    margin-top: 2rem;
    width: 100%;
}
#enter-amount-title {
    margin: 0rem 0rem 0.3rem 0.5rem;
}
.enter-amount-input {
    width: 100%;
    border: 1px solid lightgrey;
    outline: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
    height: 3rem;
}
@media (max-width: 415px) {
    #enter-amount-title {
        font-size: 0.8rem;
    }
    .enter-amount-input {
         font-size: 1rem;
         padding : 1rem
    }
    
}
.exchange-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}
.select-text {
    margin: 0rem 0rem 0.3rem 0.5rem; 
}
.select img {
    width: 2rem;
}
.select {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 0.3rem;
    border-radius: 10px;
    gap: 1rem;
}
.select-currency {
    outline: none;
    border: none;
    font-size: 1.2rem;
}
#exchange-icon {
    position: relative;
    top: 0.8rem;
    font-size: 1.3rem;
}
@media (max-width: 415px) {
    .exchange-container {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 65vw;
    }
    .select-currency {
        font-size: 0.8rem;
    }
    #exchange-icon {
        font-size: 0.8rem;
    }
    .select-from-container, .select-to-container {
        width: 6rem;
    }
    .select img {
        width: 1.5rem;
        height: auto;
    }
    .select {
        width: 5.5rem;
        gap: 0.3rem;
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 1rem;
}
.result p {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 2.5rem;
}
@media (max-width: 415px) {
    .result p {
        font-size: 0.6rem;
    }
}
#exchange-button {
    width: 100%;
    color: white;
    background-color: rgb(9, 83, 66);
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    cursor: pointer;
    font-weight: 549;
}
@media (max-width: 415px) {
    #exchange-button {
        font-size: 0.9rem;
        height: 3.5rem;
        text-align: center;
        padding: 0.5rem;
    }
}
#exchange-button:hover {
    background-color: #218838;
    color: white;
}
.hover-effect:hover {
    box-shadow: 0px 0px 10px rgba(25, 31, 52, 0.25);
}

